In [52]:
import pandas as pd

In [53]:
# Direct reading does not work because the csv is not utf-8 encoded
# nutr_df = pd.read_csv("data/Nutritions_US.csv", index_col=0)

In [73]:
# After running the following command in terminal >> file -I data/Nutritions_US.csv 
# We understood that the data is encoded using `ISO-8859-1` so we use the below code

try:
    nutr_df = pd.read_csv("data/Nutritions_US.csv", encoding='ISO-8859-1', index_col=0)
    print(nutr_df.head())
except UnicodeDecodeError:
    print("Error reading the file with the specified encoding.")

                     Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
NDB_No
1001          BUTTER,WITH SALT      15.87         717         0.85
1002    BUTTER,WHIPPED,W/ SALT      16.72         718         0.49
1003      BUTTER OIL,ANHYDROUS       0.24         876         0.28
1004               CHEESE,BLUE      42.41         353        21.40
1005              CHEESE,BRICK      41.11         371        23.24

        Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
NDB_No
1001            81.11     2.11            0.06           0.0           0.06
1002            78.30     1.62            2.87           0.0           0.06
1003            99.48     0.00            0.00           0.0           0.00
1004            28.74     5.11            2.34           0.0           0.50
1005            29.68     3.18            2.79           0.0           0.51

        Calcium_(mg)  ...  Vit_D_IU  Vit_K_(¾g)  FA_Sat_(g)  FA_Mono_(g)  \
NDB_No                ...
1001            24.0  ...       0.0         7.0      51.368       21.021
1002            23.0  ...       0.0         4.6      45.390       19.874
1003             4.0  ...       0.0         8.6      61.924       28.732
1004           528.0  ...      21.0         2.4      18.669        7.778
1005           674.0  ...      22.0         2.5      18.764        8.598

        FA_Poly_(g)  Cholestrl_(mg)  GmWt_1                  GmWt_Desc1  \
NDB_No
1001          3.043           215.0    5.00  1 pat,  (1" sq, 1/3" high)
1002          3.331           225.0    3.80  1 pat,  (1" sq, 1/3" high)
1003          3.694           256.0   12.80                      1 tbsp
1004          0.800            75.0   28.35                        1 oz
1005          0.784            94.0  132.00                1 cup, diced

        GmWt_2       GmWt_Desc2
NDB_No
1001      14.2           1 tbsp
1002       9.4           1 tbsp
1003     205.0            1 cup
1004      17.0     1 cubic inch
1005     113.0  1 cup, shredded

[5 rows x 51 columns]

## Data Cleaning

In [74]:
nutr_df.head()

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,Vit_D_IU,Vit_K_(¾g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
NDB_No,,,,,,,,,,,,,,,,,,,,,
1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,24.0,...,0.0,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp
1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,23.0,...,0.0,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp
1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,4.0,...,0.0,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup
1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,528.0,...,21.0,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch
1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,674.0,...,22.0,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded"

In [75]:
nutr_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8790 entries, 1001 to 93600
Data columns (total 51 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Shrt_Desc          8790 non-null   object
 1   Water_(g)          8789 non-null   float64
 2   Energ_Kcal         8790 non-null   int64
 3   Protein_(g)        8790 non-null   float64
 4   Lipid_Tot_(g)      8790 non-null   float64
 5   Ash_(g)            8465 non-null   float64
 6   Carbohydrt_(g)     8790 non-null   float64
 7   Fiber_TD_(g)       8196 non-null   float64
 8   Sugar_Tot_(g)      6958 non-null   float64
 9   Calcium_(mg)       8442 non-null   float64
 10  Iron_(mg)          8646 non-null   float64
 11  Magnesium_(mg)     8051 non-null   float64
 12  Phosphorus_(mg)    8211 non-null   float64
 13  Potassium_(mg)     8364 non-null   float64
 14  Sodium_(mg)        8707 non-null   float64
 15  Zinc_(mg)          8084 non-null   float64
 16  Copper_mg)         7533 non-null   float64
 17  Manganese_(mg)     6630 non-null   float64
 18  Selenium_(¾g)      7090 non-null   float64
 19  Vit_C_(mg)         7972 non-null   float64
 20  Thiamin_(mg)       8156 non-null   float64
 21  Riboflavin_(mg)    8174 non-null   float64
 22  Niacin_(mg)        8153 non-null   float64
 23  Panto_Acid_mg)     6548 non-null   float64
 24  Vit_B6_(mg)        7885 non-null   float64
 25  Folate_Tot_(¾g)    7529 non-null   float64
 26  Folic_Acid_(¾g)    6751 non-null   float64
 27  Food_Folate_(¾g)   7022 non-null   float64
 28  Folate_DFE_(¾g)    6733 non-null   float64
 29  Choline_Tot_ (mg)  4774 non-null   float64
 30  Vit_B12_(¾g)       7597 non-null   float64
 31  Vit_A_IU           8079 non-null   float64
 32  Vit_A_RAE          7255 non-null   float64
 33  Retinol_(¾g)       6984 non-null   float64
 34  Alpha_Carot_(¾g)   5532 non-null   float64
 35  Beta_Carot_(¾g)    5628 non-null   float64
 36  Beta_Crypt_(¾g)    5520 non-null   float64
 37  Lycopene_(¾g)      5498 non-null   float64
 38  Lut+Zea_ (¾g)      5475 non-null   float64
 39  Vit_E_(mg)         5901 non-null   float64
 40  Vit_D_¾g           5528 non-null   float64
 41  Vit_D_IU           5579 non-null   float64
 42  Vit_K_(¾g)         5227 non-null   float64
 43  FA_Sat_(g)         8441 non-null   float64
 44  FA_Mono_(g)        8124 non-null   float64
 45  FA_Poly_(g)        8125 non-null   float64
 46  Cholestrl_(mg)     8380 non-null   float64
 47  GmWt_1             8490 non-null   float64
 48  GmWt_Desc1         8491 non-null   object
 49  GmWt_2             4825 non-null   float64
 50  GmWt_Desc2         4825 non-null   object
dtypes: float64(47), int64(1), object(3)
memory usage: 3.5+ MB

In [76]:
nutr_df.describe()

,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,Vit_E_(mg),Vit_D_¾g,Vit_D_IU,Vit_K_(¾g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_2
count,8789.000000,8790.000000,8790.000000,8790.000000,8465.000000,8790.000000,8196.000000,6958.000000,8442.000000,8646.000000,...,5901.000000,5528.000000,5579.000000,5227.000000,8441.000000,8124.000000,8125.000000,8380.000000,8490.000000,4825.000000
mean,54.112218,226.317634,11.342849,10.553725,1.783468,22.127710,2.187445,8.543066,76.738214,2.699674,...,1.331518,0.579269,22.990142,15.631586,3.576334,4.081006,2.288767,40.613246,96.395130,250.747668
std,30.772854,169.877539,10.530474,15.814842,3.004609,27.270822,4.383138,14.923626,203.527453,5.687560,...,4.640706,3.882702,154.614465,79.949125,6.518840,7.010760,5.215654,119.869371,84.337063,382.226774
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.400000
25%,29.700000,91.000000,2.380000,0.950000,0.840000,0.050000,0.000000,0.000000,10.000000,0.540000,...,0.120000,0.000000,0.000000,0.200000,0.220000,0.235750,0.220000,0.000000,29.000000,42.000000
50%,63.080000,191.000000,8.000000,5.140000,1.200000,9.340000,0.700000,1.840000,21.000000,1.380000,...,0.300000,0.000000,0.000000,1.600000,1.592000,1.938500,0.696000,4.000000,85.000000,164.000000
75%,77.960000,337.000000,19.880000,13.720000,2.090000,34.910000,2.600000,9.287500,69.000000,2.600000,...,0.800000,0.200000,6.000000,5.200000,4.345000,5.115000,2.081000,67.000000,130.000000,305.000000
max,100.000000,902.000000,88.320000,100.000000,99.800000,100.000000,79.000000,99.800000,7364.000000,123.600000,...,149.400000,250.000000,10000.000000,1714.500000,95.600000,83.689000,74.623000,3100.000000,1184.000000,5717.000000

### Handle Missing Values

In [77]:
# Check for missing values
print(nutr_df.isnull().sum())

Shrt_Desc               0
Water_(g)               1
Energ_Kcal              0
Protein_(g)             0
Lipid_Tot_(g)           0
Ash_(g)               325
Carbohydrt_(g)          0
Fiber_TD_(g)          594
Sugar_Tot_(g)        1832
Calcium_(mg)          348
Iron_(mg)             144
Magnesium_(mg)        739
Phosphorus_(mg)       579
Potassium_(mg)        426
Sodium_(mg)            83
Zinc_(mg)             706
Copper_mg)           1257
Manganese_(mg)       2160
Selenium_(¾g)        1700
Vit_C_(mg)            818
Thiamin_(mg)          634
Riboflavin_(mg)       616
Niacin_(mg)           637
Panto_Acid_mg)       2242
Vit_B6_(mg)           905
Folate_Tot_(¾g)      1261
Folic_Acid_(¾g)      2039
Food_Folate_(¾g)     1768
Folate_DFE_(¾g)      2057
Choline_Tot_ (mg)    4016
Vit_B12_(¾g)         1193
Vit_A_IU              711
Vit_A_RAE            1535
Retinol_(¾g)         1806
Alpha_Carot_(¾g)     3258
Beta_Carot_(¾g)      3162
Beta_Crypt_(¾g)      3270
Lycopene_(¾g)        3292
Lut+Zea_ (¾g)        3315
Vit_E_(mg)           2889
Vit_D_¾g             3262
Vit_D_IU             3211
Vit_K_(¾g)           3563
FA_Sat_(g)            349
FA_Mono_(g)           666
FA_Poly_(g)           665
Cholestrl_(mg)        410
GmWt_1                300
GmWt_Desc1            299
GmWt_2               3965
GmWt_Desc2           3965
dtype: int64

In [78]:
# Fill missing values with 0 as it indicates the absence of that particular nutrient
nutr_df = nutr_df.fillna(0)
print(nutr_df.isnull().sum())

Shrt_Desc            0
Water_(g)            0
Energ_Kcal           0
Protein_(g)          0
Lipid_Tot_(g)        0
Ash_(g)              0
Carbohydrt_(g)       0
Fiber_TD_(g)         0
Sugar_Tot_(g)        0
Calcium_(mg)         0
Iron_(mg)            0
Magnesium_(mg)       0
Phosphorus_(mg)      0
Potassium_(mg)       0
Sodium_(mg)          0
Zinc_(mg)            0
Copper_mg)           0
Manganese_(mg)       0
Selenium_(¾g)        0
Vit_C_(mg)           0
Thiamin_(mg)         0
Riboflavin_(mg)      0
Niacin_(mg)          0
Panto_Acid_mg)       0
Vit_B6_(mg)          0
Folate_Tot_(¾g)      0
Folic_Acid_(¾g)      0
Food_Folate_(¾g)     0
Folate_DFE_(¾g)      0
Choline_Tot_ (mg)    0
Vit_B12_(¾g)         0
Vit_A_IU             0
Vit_A_RAE            0
Retinol_(¾g)         0
Alpha_Carot_(¾g)     0
Beta_Carot_(¾g)      0
Beta_Crypt_(¾g)      0
Lycopene_(¾g)        0
Lut+Zea_ (¾g)        0
Vit_E_(mg)           0
Vit_D_¾g             0
Vit_D_IU             0
Vit_K_(¾g)           0
FA_Sat_(g)           0
FA_Mono_(g)          0
FA_Poly_(g)          0
Cholestrl_(mg)       0
GmWt_1               0
GmWt_Desc1           0
GmWt_2               0
GmWt_Desc2           0
dtype: int64

### Standardizing Column Names

In [79]:
nutr_df.columns = nutr_df.columns.str.strip().str.replace('[()µ]', '', regex=True).str.replace(' ', '_')
nutr_df.columns = nutr_df.columns.str.replace('¾g', '3qtrg', regex=True)
nutr_df.columns = nutr_df.columns.str.replace('+', '_', regex=False)
print(nutr_df.columns)

Index(['Shrt_Desc', 'Water_g', 'Energ_Kcal', 'Protein_g', 'Lipid_Tot_g',
       'Ash_g', 'Carbohydrt_g', 'Fiber_TD_g', 'Sugar_Tot_g', 'Calcium_mg',
       'Iron_mg', 'Magnesium_mg', 'Phosphorus_mg', 'Potassium_mg', 'Sodium_mg',
       'Zinc_mg', 'Copper_mg', 'Manganese_mg', 'Selenium_3qtrg', 'Vit_C_mg',
       'Thiamin_mg', 'Riboflavin_mg', 'Niacin_mg', 'Panto_Acid_mg',
       'Vit_B6_mg', 'Folate_Tot_3qtrg', 'Folic_Acid_3qtrg',
       'Food_Folate_3qtrg', 'Folate_DFE_3qtrg', 'Choline_Tot__mg',
       'Vit_B12_3qtrg', 'Vit_A_IU', 'Vit_A_RAE', 'Retinol_3qtrg',
       'Alpha_Carot_3qtrg', 'Beta_Carot_3qtrg', 'Beta_Crypt_3qtrg',
       'Lycopene_3qtrg', 'Lut_Zea__3qtrg', 'Vit_E_mg', 'Vit_D_3qtrg',
       'Vit_D_IU', 'Vit_K_3qtrg', 'FA_Sat_g', 'FA_Mono_g', 'FA_Poly_g',
       'Cholestrl_mg', 'GmWt_1', 'GmWt_Desc1', 'GmWt_2', 'GmWt_Desc2'],
      dtype='object')

### Check for Duplicates

In [80]:
print(nutr_df.duplicated().sum())

0

In [81]:
nutr_df.to_csv("data/nutrition_data.csv", encoding='utf-8', index = False)

In [82]:
df = pd.read_csv('data/nutrition_data.csv')
df.head()

,Shrt_Desc,Water_g,Energ_Kcal,Protein_g,Lipid_Tot_g,Ash_g,Carbohydrt_g,Fiber_TD_g,Sugar_Tot_g,Calcium_mg,...,Vit_D_IU,Vit_K_3qtrg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,24.0,...,0.0,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp
1,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,23.0,...,0.0,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp
2,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,4.0,...,0.0,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup
3,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,528.0,...,21.0,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch
4,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,674.0,...,22.0,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded"

In [83]:
df.isnull().sum().sum()

0

In [84]:
df_split = df['Shrt_Desc'].str.split(',',expand=True)
df_split.columns = ['Produce'] + [f'Characteristic_{i}' for i in range(1, df_split.shape[1])]
df = pd.concat([df_split, df], axis=1)
df.drop('Shrt_Desc', axis=1, inplace=True)

In [85]:
df

,Produce,Characteristic_1,Characteristic_2,Characteristic_3,Characteristic_4,Characteristic_5,Characteristic_6,Characteristic_7,Characteristic_8,Characteristic_9,...,Vit_D_IU,Vit_K_3qtrg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,BUTTER,WITH SALT,None,None,None,None,None,None,None,None,...,0.0,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp
1,BUTTER,WHIPPED,W/ SALT,None,None,None,None,None,None,None,...,0.0,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp
2,BUTTER OIL,ANHYDROUS,None,None,None,None,None,None,None,None,...,0.0,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup
3,CHEESE,BLUE,None,None,None,None,None,None,None,None,...,21.0,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch
4,CHEESE,BRICK,None,None,None,None,None,None,None,None,...,22.0,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8785,MACKEREL,SALTED,None,None,None,None,None,None,None,None,...,1006.0,7.8,7.148,8.320,6.210,95.0,80.00,"1 piece, (5-1/2"" x 1-1/2"" x 1/2"")",17.0,"1 cubic inch, boneless"
8786,SCALLOP,(BAY&SEA),CKD,STMD,None,None,None,None,None,None,...,2.0,0.0,0.218,0.082,0.222,41.0,85.00,3 oz,0.0,0
8787,SYRUP,CANE,None,None,None,None,None,None,None,None,...,0.0,0.0,0.000,0.000,0.000,0.0,21.00,1 serving,0.0,0
8788,SNAIL,RAW,None,None,None,None,None,None,None,None,...,0.0,0.1,0.361,0.259,0.252,50.0,85.00,3 oz,0.0,0
8789,TURTLE,GREEN,RAW,None,None,None,None,None,None,None,...,0.0,0.1,0.127,0.088,0.170,50.0,85.00,3 oz,0.0,0

In [86]:
df[['Produce', 'Characteristic_0']] = df['Produce'].str.split(' ',n= 1, expand = True)
df['Characteristic_0'] = df['Characteristic_0'].fillna(0)
df.head()

,Produce,Characteristic_1,Characteristic_2,Characteristic_3,Characteristic_4,Characteristic_5,Characteristic_6,Characteristic_7,Characteristic_8,Characteristic_9,...,Vit_K_3qtrg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Characteristic_0
0,BUTTER,WITH SALT,None,None,None,None,None,None,None,None,...,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0
1,BUTTER,WHIPPED,W/ SALT,None,None,None,None,None,None,None,...,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0
2,BUTTER,ANHYDROUS,None,None,None,None,None,None,None,None,...,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup,OIL
3,CHEESE,BLUE,None,None,None,None,None,None,None,None,...,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch,0
4,CHEESE,BRICK,None,None,None,None,None,None,None,None,...,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded",0

In [87]:
df.isnull().sum().sum()
df= df.fillna(0)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Produce            8790 non-null   object
 1   Characteristic_1   8790 non-null   object
 2   Characteristic_2   8790 non-null   object
 3   Characteristic_3   8790 non-null   object
 4   Characteristic_4   8790 non-null   object
 5   Characteristic_5   8790 non-null   object
 6   Characteristic_6   8790 non-null   object
 7   Characteristic_7   8790 non-null   object
 8   Characteristic_8   8790 non-null   object
 9   Characteristic_9   8790 non-null   object
 10  Characteristic_10  8790 non-null   object
 11  Characteristic_11  8790 non-null   object
 12  Water_g            8790 non-null   float64
 13  Energ_Kcal         8790 non-null   int64
 14  Protein_g          8790 non-null   float64
 15  Lipid_Tot_g        8790 non-null   float64
 16  Ash_g              8790 non-null   float64
 17  Carbohydrt_g       8790 non-null   float64
 18  Fiber_TD_g         8790 non-null   float64
 19  Sugar_Tot_g        8790 non-null   float64
 20  Calcium_mg         8790 non-null   float64
 21  Iron_mg            8790 non-null   float64
 22  Magnesium_mg       8790 non-null   float64
 23  Phosphorus_mg      8790 non-null   float64
 24  Potassium_mg       8790 non-null   float64
 25  Sodium_mg          8790 non-null   float64
 26  Zinc_mg            8790 non-null   float64
 27  Copper_mg          8790 non-null   float64
 28  Manganese_mg       8790 non-null   float64
 29  Selenium_3qtrg     8790 non-null   float64
 30  Vit_C_mg           8790 non-null   float64
 31  Thiamin_mg         8790 non-null   float64
 32  Riboflavin_mg      8790 non-null   float64
 33  Niacin_mg          8790 non-null   float64
 34  Panto_Acid_mg      8790 non-null   float64
 35  Vit_B6_mg          8790 non-null   float64
 36  Folate_Tot_3qtrg   8790 non-null   float64
 37  Folic_Acid_3qtrg   8790 non-null   float64
 38  Food_Folate_3qtrg  8790 non-null   float64
 39  Folate_DFE_3qtrg   8790 non-null   float64
 40  Choline_Tot__mg    8790 non-null   float64
 41  Vit_B12_3qtrg      8790 non-null   float64
 42  Vit_A_IU           8790 non-null   float64
 43  Vit_A_RAE          8790 non-null   float64
 44  Retinol_3qtrg      8790 non-null   float64
 45  Alpha_Carot_3qtrg  8790 non-null   float64
 46  Beta_Carot_3qtrg   8790 non-null   float64
 47  Beta_Crypt_3qtrg   8790 non-null   float64
 48  Lycopene_3qtrg     8790 non-null   float64
 49  Lut_Zea__3qtrg     8790 non-null   float64
 50  Vit_E_mg           8790 non-null   float64
 51  Vit_D_3qtrg        8790 non-null   float64
 52  Vit_D_IU           8790 non-null   float64
 53  Vit_K_3qtrg        8790 non-null   float64
 54  FA_Sat_g           8790 non-null   float64
 55  FA_Mono_g          8790 non-null   float64
 56  FA_Poly_g          8790 non-null   float64
 57  Cholestrl_mg       8790 non-null   float64
 58  GmWt_1             8790 non-null   float64
 59  GmWt_Desc1         8790 non-null   object
 60  GmWt_2             8790 non-null   float64
 61  GmWt_Desc2         8790 non-null   object
 62  Characteristic_0   8790 non-null   object
dtypes: float64(47), int64(1), object(15)
memory usage: 4.2+ MB

In [90]:
df_desc = df[['Produce','Characteristic_0','Characteristic_1','GmWt_1','GmWt_Desc1','GmWt_2','GmWt_Desc2']]
df.drop(df.columns[[59,61]], axis =1, inplace = True)
df.head()

,Produce,Characteristic_1,Characteristic_2,Characteristic_3,Characteristic_4,Characteristic_5,Characteristic_6,Characteristic_7,Characteristic_8,Characteristic_9,...,Vit_D_3qtrg,Vit_D_IU,Vit_K_3qtrg,FA_Sat_g,FA_Mono_g,FA_Poly_g,Cholestrl_mg,GmWt_1,GmWt_2,Characteristic_0
0,BUTTER,WITH SALT,0,0,0,0,0,0,0,0,...,0.0,0.0,7.0,51.368,21.021,3.043,215.0,5.00,14.2,0
1,BUTTER,WHIPPED,W/ SALT,0,0,0,0,0,0,0,...,0.0,0.0,4.6,45.390,19.874,3.331,225.0,3.80,9.4,0
2,BUTTER,ANHYDROUS,0,0,0,0,0,0,0,0,...,0.0,0.0,8.6,61.924,28.732,3.694,256.0,12.80,205.0,OIL
3,CHEESE,BLUE,0,0,0,0,0,0,0,0,...,0.5,21.0,2.4,18.669,7.778,0.800,75.0,28.35,17.0,0
4,CHEESE,BRICK,0,0,0,0,0,0,0,0,...,0.5,22.0,2.5,18.764,8.598,0.784,94.0,132.00,113.0,0

In [91]:
df_desc.head()

,Produce,Characteristic_0,Characteristic_1,GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,BUTTER,0,WITH SALT,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp
1,BUTTER,0,WHIPPED,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp
2,BUTTER,OIL,ANHYDROUS,12.80,1 tbsp,205.0,1 cup
3,CHEESE,0,BLUE,28.35,1 oz,17.0,1 cubic inch
4,CHEESE,0,BRICK,132.00,"1 cup, diced",113.0,"1 cup, shredded"

In [92]:
df.to_csv('data/nutrition_data_long.csv', index=False)
df_desc.to_csv('data/weights_desc.csv', index = False)

In [48]:
dtypes = df.dtypes

In [49]:
dtypes.to_csv('data/data_types.csv')

In [50]:
#!pip3 install mysql-connector-python

In [25]:
import csv
import mysql.connector

# Database connection
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Godricshallow',
    database='Nutrients'
)


# Create a cursor
cursor = conn.cursor()

# Define your insert statement
insert_statement = '''
INSERT INTO nutrition_data_long (
    Produce, Characteristic_1, Characteristic_2, Characteristic_3, Characteristic_4, Characteristic_5, Characteristic_6,
    Characteristic_7, Characteristic_8, Characteristic_9, Characteristic_10, Characteristic_11, Water_g, Energ_Kcal, Protein_g,
    Lipid_Tot_g, Ash_g, Carbohydrt_g, Fiber_TD_g, Sugar_Tot_g, Calcium_mg, Iron_mg, Magnesium_mg, Phosphorus_mg, Potassium_mg,
    Sodium_mg, Zinc_mg, Copper_mg, Manganese_mg, Selenium_3qtrg, Vit_C_mg, Thiamin_mg, Riboflavin_mg, Niacin_mg, Panto_Acid_mg,
    Vit_B6_mg, Folate_Tot_3qtrg, Folic_Acid_3qtrg, Food_Folate_3qtrg, Folate_DFE_3qtrg, Choline_Tot__mg, Vit_B12_3qtrg, Vit_A_IU,
    Vit_A_RAE, Retinol_3qtrg, Alpha_Carot_3qtrg, Beta_Carot_3qtrg, Beta_Crypt_3qtrg, Lycopene_3qtrg, Lut_Zea__3qtrg, Vit_E_mg,
    Vit_D_3qtrg, Vit_D_IU, Vit_K_3qtrg, FA_Sat_g, FA_Mono_g, FA_Poly_g, Cholestrl_mg, GmWt_1, GmWt_2,Characteristic_0
) VALUES (
    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
)
'''

# Path to your CSV file
csv_file_path = '/Users/rindhujajohnson/Documents/GitHub/nutrition-analysis-of-us-food-products/data/nutrition_data_long.csv'

# Open the CSV file and insert each row into the database
with open(csv_file_path, newline='\n', encoding='utf-8') as csvfile:
    reader = csv.reader(csvfile)
    next(reader)  # Skip header row
    for row in reader:
        # Ensure row has the same number of elements as the columns
        if len(row) == 60:  # Update this number to match the number of columns
            cursor.execute(insert_statement, row)
        else:
            print(len(row))
            print(f"Skipping row with incorrect number of columns: {row}")

# Commit the transaction
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [93]:
import csv
import mysql.connector

# Database connection
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Godricshallow',
    database='Nutrients'
)


# Create a cursor
cursor = conn.cursor()
insert_statement = '''
    INSERT INTO weight_desc (Produce, Characteristic_0, Characteristic_1, GmWt_1, GmWt_Desc1, GmWt_2, GmWt_Desc2
    ) VALUES (
        %s, %s, %s, %s, %s, %s, %s)'''
csv_file_path = '/Users/rindhujajohnson/Documents/GitHub/nutrition-analysis-of-us-food-products/data/weights_desc.csv'

# Open the CSV file and insert each row into the database
with open(csv_file_path, newline='\n', encoding='utf-8') as csvfile:
    reader = csv.reader(csvfile)
    next(reader)  # Skip header row
    for row in reader:
        # Ensure row has the same number of elements as the columns
        if len(row) == 7:  # Update this number to match the number of columns
            cursor.execute(insert_statement, row)
        else:
            print(len(row))
            print(f"Skipping row with incorrect number of columns: {row}")

# Commit the transaction
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [94]:

serve_file = '/Users/rindhujajohnson/Documents/GitHub/nutrition-analysis-of-us-food-products/data/serving_size.csv'
serve_out_file = '/Users/rindhujajohnson/Documents/GitHub/nutrition-analysis-of-us-food-products/data/serving_size_new.csv'


with open(serve_file, 'r', newline='', encoding='utf-8') as infile, \
     open(serve_out_file, 'w', newline='', encoding='utf-8') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile, quoting=csv.QUOTE_MINIMAL)

    for row in reader:
        if len(row) > 0:
            # Remove quotes from the first column only
            row[0] = row[0].replace('"', '')
        writer.writerow(row)